* {
  font-family: 'Noto Sans TC';
}
a {
  display: block;
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
}
h1 {
  color: #43484d;
  text-align: center;
  padding: 50px 0;
  font-weight: 300;
}

header {
  position: relative;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);
}

#wws-aa-logo {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  width: 100%;
  color: white;
  left: 0;
  top: 0;
}

#wws-aa-logo a {
  color: white;
  z-index: 99;
}
#wws-aa-logo a:hover,
#wws-aa-logo a:active,
#wws-aa-logo a:focus {
  color: #4267b2;
}

#headline img {
  max-width: 180px;
}

#headline {
  background: #f8f8f8;
  background-image: url(../img/heading-bg.jpg);
  background-size: cover;
  background-position: center;
}

#terms p {
  color: #71778d;
  text-align: center;
  margin: 30px 0;
  font-size: 1.2em;
}

.full {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

#intro-holder {
  text-align: center;
}
#intro-holder > p {
  margin: 0;
  color: white;
}

.apply-btn {
  width: 160px;
  margin: 0 auto;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 25px;
  margin-top: 30px;
  color: white;
  transition: all 0.3s ease-out;
  font-size: 1.2em;
}
.apply-btn:hover,
.apply-btn:active,
.apply-btn:focus {
  background: white;
  color: darkred;
}

#wws-aa {
  font-size: 2em;
  line-height: 1;
}
#event-name {
  font-size: 4em;
  font-weight: 700;
}
#event-date,
#event-venue {
  font-size: 1.5em;
  font-weight: 300;
}

#FAQ {
  background-color: #f4f4f4;
}
#faq-holder {
  padding-bottom: 50px;
}
.faq-card {
  height: 375px;
  border-radius: 5px;
  background: white;
  box-shadow: 0 4px 9px 0 rgba(23, 28, 33, 0.06);
  padding: 30px;
  margin-bottom: 30px;
  transition: all 0.2s ease-out;
}
.faq-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 5px 10px 0 rgba(23, 28, 33, 0.16);
}
.faq-card .fa {
  color: #fc414b;
  margin-bottom: 15px;
}
.question,
.answer {
  font-size: 1.1em;
  color: #43484d;
}
.question {
  font-weight: 700;
}
.answer {
  font-weight: 300;
}

footer p {
  font-size: 1.1em;
  margin: 0;
  color: #ffbcb0;
}
footer a {
  display: inline;
  color: white;
}
footer {
  color: white;
  background: linear-gradient(to bottom right, #f98426, #fa283b);
  font-weight: 300;
}
.contact {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact .fa {
  margin-right: 10px;
}
.contact img {
  margin: 10px 0;
}
#rights {
  opacity: 0.7;
  color: white;
  font-size: 0.9em;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 50px;
}

/*// Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
  #wws-aa {
    font-size: 1.5em;
  }
  #event-name {
    font-size: 2.1em;
  }
  #event-date,
  #event-venue {
    font-size: 1.2em;
  }

  .contact {
    flex-direction: column;
    align-items: flex-start;
  }
}
